# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=2500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=2500)
lat_lngs = zip(lats, lngs)
lat_save = []
lng_save = []

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        lat_save.append(lat_lng[0])
        lng_save.append(lat_lng[1])

# Print the city count to confirm sufficient count
print(len(cities))
print(len(lat_save))
print(len(lng_save))

854
854
854

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
weather_df = pd.DataFrame({"City":cities})
weather_df["Latitude"] = lat_save
weather_df["Longitute"] = lng_save
weather_df["Temperature (F)"] = ""
weather_df["Humidity (%)"] = ""
weather_df["Cloudiness(%)"] = ""
weather_df["Wind Speed"] = ""

In [4]:
len(weather_df)

854

In [5]:
'''url = "http://api.openweathermap.org/data/2.5/weather?"

{'coord': {'lon': -117.83, 'lat': 33.69},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01n'}],
 'base': 'stations',
 'main': {'temp': 54,
  'pressure': 1016,
  'humidity': 82,
  'temp_min': 50,
  'temp_max': 57.2},
 'visibility': 16093,
 'wind': {'speed': 1.59, 'deg': 296.5},
 'clouds': {'all': 1},
 'dt': 1553675124,
 'sys': {'type': 1,
  'id': 5876,
  'message': 0.009,
  'country': 'US',
  'sunrise': 1553694337,
  'sunset': 1553738855},
 'id': 5359777,
 'name': 'Irvine',
 'cod': 200}
 '''

'url = "http://api.openweathermap.org/data/2.5/weather?"\n\n{\'coord\': {\'lon\': -117.83, \'lat\': 33.69},\n \'weather\': [{\'id\': 800,\n   \'main\': \'Clear\',\n   \'description\': \'clear sky\',\n   \'icon\': \'01n\'}],\n \'base\': \'stations\',\n \'main\': {\'temp\': 54,\n  \'pressure\': 1016,\n  \'humidity\': 82,\n  \'temp_min\': 50,\n  \'temp_max\': 57.2},\n \'visibility\': 16093,\n \'wind\': {\'speed\': 1.59, \'deg\': 296.5},\n \'clouds\': {\'all\': 1},\n \'dt\': 1553675124,\n \'sys\': {\'type\': 1,\n  \'id\': 5876,\n  \'message\': 0.009,\n  \'country\': \'US\',\n  \'sunrise\': 1553694337,\n  \'sunset\': 1553738855},\n \'id\': 5359777,\n \'name\': \'Irvine\',\n \'cod\': 200}\n '

In [6]:
url = "http://api.openweathermap.org/data/2.5/weather?"

print(f'Beginning Data Retrieval \n ........................')
for index,row in weather_df.iterrows():
    query_url = url + "appid=" + api_key + "&q=" + str(row['City']) + "&units=imperial"
    try:
        response = requests.get(query_url).json()
        weather_df.set_value(index, "Temperature (F)", int(response['main']['temp']))
        weather_df.set_value(index, "Humidity (%)", int(response['main']['humidity']))
        weather_df.set_value(index, "Cloudiness(%)", int(response['clouds']['all']))
        weather_df.set_value(index, "Wind Speed", int(response['wind']['speed']))

    except:
        print(f"No data for this city: {row['City']}")
weather_df.head()

Beginning Data Retrieval
 ........................

C:\Users\huyt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\huyt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
C:\Users\huyt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
C:\Users\huyt\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

No data for this city: nizhneyansk
No data for this city: saleaula
No data for this city: karauzyak
No data for this city: belushya guba
No data for this city: sentyabrskiy
No data for this city: barentsburg
No data for this city: tsihombe
No data for this city: taolanaro
No data for this city: illoqqortoormiut
No data for this city: mouzakion
No data for this city: mocambique
No data for this city: amderma
No data for this city: kulasi
No data for this city: acarau
No data for this city: rungata
No data for this city: warqla
No data for this city: tapaua
No data for this city: vaitupu
No data for this city: uk
No data for this city: jiddah
No data for this city: svetlyy
No data for this city: sidi qasim
No data for this city: korla
No data for this city: olafsvik
No data for this city: grand river south east
No data for this city: attawapiskat
No data for this city: sahrak
No data for this city: haibowan
No data for this city: aflu
No data for this city: poenarii-burchi
No data for this city: karamea
No data for this city: mys shmidta
No data for this city: samusu
No data for this city: kushmurun
No data for this city: bengkulu
No data for this city: calpan
No data for this city: gangotri
No data for this city: temaraia
No data for this city: andenes
No data for this city: sataua
No data for this city: wangdiphodrang
No data for this city: safaqis
No data for this city: khonuu
No data for this city: chardara
No data for this city: koboldo
No data for this city: palabuhanratu
No data for this city: umzimvubu
No data for this city: babanusah
No data for this city: tuggurt
No data for this city: siwani
No data for this city: utiroa
No data for this city: skagastrond
No data for this city: okandja
No data for this city: dekoa
No data for this city: bairiki
No data for this city: borlange
No data for this city: marcona
No data for this city: kazalinsk
No data for this city: blonduos
No data for this city: artyk
No data for this city: karkaralinsk
No data for this city: wahran
No data for this city: phan rang
No data for this city: ruatoria
No data for this city: asayita
No data for this city: akyab
No data for this city: kuche
No data for this city: candawaga
No data for this city: novoilinsk
No data for this city: asau
No data for this city: gorno-chuyskiy
No data for this city: ksenyevka
No data for this city: jilmah
No data for this city: sorvag
No data for this city: bardiyah
No data for this city: muzquiz
No data for this city: pemangkat
No data for this city: shkotovo-26
No data for this city: burica
No data for this city: kismayo
No data for this city: katha
No data for this city: louisbourg
No data for this city: jabiru

,City,Latitude,Longitute,Temperature (F),Humidity (%),Cloudiness(%),Wind Speed
0,nova olimpia,-13.316980,-58.159841,73,95,88,2
1,hobart,-44.543764,149.207082,54,62,0,5
2,amurrio,42.870389,-3.064101,48,76,0,1
3,tshikapa,-6.451057,20.773843,85,72,8,2
4,chuy,-44.370821,-40.358666,60,90,0,10

In [7]:
len(weather_df)

854

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [8]:
weather_df = weather_df['Wind Speed']

,City,Latitude,Longitute,Temperature (F),Humidity (%),Cloudiness(%),Wind Speed
0,nova olimpia,-13.316980,-58.159841,73,95,88,2
1,hobart,-44.543764,149.207082,54,62,0,5
2,amurrio,42.870389,-3.064101,48,76,0,1
3,tshikapa,-6.451057,20.773843,85,72,8,2
4,chuy,-44.370821,-40.358666,60,90,0,10
5,jamestown,-25.321492,-0.763616,61,66,12,4
6,poronaysk,49.451319,144.177915,18,71,0,8
7,henties bay,-23.689497,5.122442,66,87,24,7
8,nizhneyansk,78.908510,137.481775,,,,
9,salalah,17.167453,51.290464,84,66,20,11
10,ilanskiy,56.096927,95.937075,39,57,0,4
11,saleaula,-3.210958,-172.531179,,,,
12,karauzyak,43.123303,61.474604,,,,
13,mar del plata,-70.079355,-23.911587,56,57,0,13
14,rikitea,-73.372963,-140.315048,77,100,48,11
15,busselton,-61.080971,97.761417,72,26,32,17
16,kupang,-10.286490,122.828866,78,88,75,3
17,ilulissat,75.982842,-43.572551,1,70,68,5
18,belushya guba,83.173163,55.054643,,,,
19,tuatapere,-53.231570,157.665175,54,74,88,8
20,lodeynoye pole,60.218754,33.396138,31,74,56,8
21,butaritari,21.506698,179.514472,82,100,80,15
22,kapaa,18.295351,-162.160054,68,88,90,5
23,kiunga,-4.794990,140.446415,77,95,56,1
24,sentyabrskiy,29.790767,163.133995,,,,
25,ancud,-41.364527,-92.628312,42,87,0,5
26,barrow,75.797481,-163.074244,45,91,0,7
27,coquimbo,-25.707855,-81.733046,55,87,90,1
28,tuktoyaktuk,82.762326,-131.073405,21,91,68,14
29,strezhevoy,60.146363,77.821496,35,80,90,11
...,...,...,...,...,...,...,...
824,san felipe,30.421377,-114.486375,57,52,20,2
825,tupik,55.379296,120.490009,21,41,48,7
826,brae,70.568719,-0.425316,48,100,90,17
827,dagda,55.724102,27.711119,36,74,0,8
828,soyo,-8.533023,6.272871,80,88,75,3
829,carutapera,3.247750,-44.586517,72,100,92,4
830,umm kaddadah,14.162522,27.621236,86,13,0,15
831,limot,7.126945,126.265146,80,88,75,5
832,dustlik,40.689340,67.082596,62,94,92,2
833,beni,1.017611,28.788058,80,80,56,1
834,lakes entrance,-38.828281,148.721971,59,76,0,7
835,necochea,-41.150414,-59.331550,48,96,0,4
836,tawang,28.286390,92.589375,39,59,92,1
837,teguldet,59.351972,87.387699,42,54,0,6
838,ust-maya,57.883380,134.166150,10,57,20,4
839,borger,36.028325,-101.144281,50,71,20,9
840,abha,19.763460,43.546027,71,56,40,19
841,yichun,28.644504,114.465280,27,31,64,8
842,pesochenskiy,54.186670,36.003503,37,64,40,8
843,shubarkuduk,48.762131,55.141338,48,73,24,11
844,aden,12.268789,46.918340,80,96,0,4
845,kaniama,-8.546343,23.317129,82,77,36,3
846,linxia,36.118471,102.526830,48,24,56,7
847,honiara,-9.909954,158.518831,76,92,20,2
848,hastings,-42.145096,179.941317,71,74,88,13
849,sortavala,61.005078,30.942081,27,89,0,7
850,bejar,40.111381,-5.718652,60,69,0,2
851,pauini,-6.371452,-66.678633,75,93,36,3
852,aktau,50.520516,73.551664,53,37,75,6
853,koulamoutou,-1.418108,12.311533,82,80,8,3

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot